---
layout: default
---
{% include header.html %}

<main>
  {%- for link in site.data.links -%}
    {% include link-css-classes.html link=link %}
    <ul>
      <li>
        <i
          class="{{ css_class }} {% if link.css_class %}{{ link.css_class }}{% endif %} pr-1"></i>
        <a
          href="{{ link.url }}"
          {% if link.rel %}rel="{{ link.rel }}" {% endif %}
          target="_blank">{{ link.title }}</a>
      </li>
    </ul>
  {%- endfor -%}
</main>

{% include social-links.html %}

{% include footer.html %}
